@mixin photos1(){
    width:220px;
    height:300px;
}

@mixin photos2(){
    width:220px;
    height:200px;
}
@mixin photos3(){
    width:220px;
    height:400px;
}
@mixin photos4(){
    width:220px;
    height:520px;
}
@mixin photos5(){
    width:220px;
    height:420px;
}
@mixin photos6(){
    width:220px;
    height:210px;
}
@mixin photos7(){
    width:220px;
    height:350px;
}