@mixin photos(){
    width:220px;
    height:300px;
}
@mixin photosSlider(){
    display: inline-block;
    height: 56px;
    min-width: 84px;
    white-space: nowrap;
    background-color: rgb(191, 183, 183);
    background-image: url(https://s-media-cache-ak0.pinimg.com/111x55_sf-76/20/d8/2f/20d82f9cbda7f0fb8ae70aee6e0afa92.jpg);
    border-radius: 14px;
    color: white;
    text-align: center;
    background-size: cover;
    h6{
        margin-top: 20px;
        font-size: 15px;
    }
   
}