/*NAVBAR*/
nav .nav-wrapper{
    background-color: black !important;
}
body{
    font-family: 'Roboto', sans-serif;
    background: white;
    text-transform: uppercase;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 90%;
    margin: 15px auto;
}
.element{
    width: 220px;
    background: white;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    box-shadow: 0 2px 0 rgba(0,0,0,0.22);
}
.element p{
    padding: 10px;
    font-size: 13px;

}

.element img{
    width: 100%;
    border-radius: 20px;
}