/*Normalizing Body*/
* {
	margin:0;
	padding:0;
}
body {
	font-family: 'Roboto', sans-serif;
    background: white;
    text-transform: uppercase;
}
/*Navbar*/
nav{
	background-color: white;
	color: $gray;
	small {
		color:$gray;
		text-transform: capitalize;
		font-size: 15px;
		margin-left: 7px;
	}
	.logo{
	width: 20px;
	
}

}

.select-wrapper input.select-dropdown{
	position: relative;
    cursor: pointer;
    background-color: #efefef;
	border-left: 1px solid #d8d8d8;
	border-bottom: none;
    outline: 0;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
	font-size: 1rem;
	margin-bottom: 13px;
    margin-right: -13px;
    margin-left: -23px;
    margin-top: 9px;
    color: black;
    padding: 0;
    display: block;
    user-select: none;
}
nav [class*=mdi-], nav [class^=mdi-], nav i, nav i.material-icons {
    font-size: 38px;}
    
/*Input*/
input:not([type]):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
	border-bottom: 1px solid $gray;
}

.icon_prefix{
border-bottom: 1px solid $gray;

}
.prefix{
	color: $gray;
}
#icon_prefix{
	background-color: #efefef;
}
#allpines {
		border-left: 1px solid $gray;
	}
.circle{
	width: 48px;
	height: 48px;
	margin-bottom: -14px;
	}
.center-text{
	margin-top: 2px;
}
	
/*Slider*/
.slider{
	margin-left: 20px;
	height: 0px;
	display: inline-block;
	a{
		color: white;
	}
	.drees {
	@include photosSlider()
	}
	.allende {
			@include photosSlider()

	}
	.friki {
			@include photosSlider()

	}
	.invitaciones {
			@include photosSlider()

	}
	.fotography {
			@include photosSlider()

	}
	.photocall {
		@include photosSlider()

	}
	.damas {
			@include photosSlider()

	}
	.illumination {
			@include photosSlider()

	}
	.ramo {
			@include photosSlider()

	}
	.souvenires {
			@include photosSlider()

	}
	.invitation {
			@include photosSlider()

	}
}
.indicator{
	display: inline-block;
    height: 56px;
    min-width: 84px;
    white-space: nowrap;
    background-color:white;
    border-radius: 14px;
    color: white;
    text-align: center;
	background-size: cover;
	font-size: 30px;
}
/*Photos container style*/
#wrapper {
	width: 90%;
	max-width: 1100px;
	min-width: 800px;
	margin: 50px auto;
}
/*Columns*/
#columns {
	column-count: 3;
	column-gap: 15px;
	column-fill: auto;
	margin-top: 26px;
}

.pin {
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	column-rule-style: avoid;
	padding: 15px;
	padding-bottom: 5px;
	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	transition: all .1s ease;
}

.pin img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
	
}


.pin p {
	font: 9px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
	
}
.pin .title{
	font-weight: bold;
	text-transform: capitalize;
	font-size: 9px;
}
i{
	color:	$icons;	
}
.fa-thumb-tack{
	color:	$icons;	
}
/*MODAL*/
.modal-content img{
    width: 100%;
}
.modal{
    background-color: #fafafa;
    padding: 0;
    max-height: 95%;
    width: 26%;
    margin: auto;
    overflow-y: auto;
    border-radius: 2px;
    will-change: top,opacity;
}
.logoM{
	background-color: #efcec5;
	border-radius: 30px;
	color: white;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	margin-right: 11px;

}
#modal{
	.upper-content{
		margin-top: 10px;
	}
	.fa-upload, .fa-check, i{
		font-size: 20px;
		margin-left: 27px;
		margin-right: 17px;
	}
	a{
	background-color: #be091c;
	color: white;
	font-size: 12px;
	height: 5vh;
	border-radius: 5px;
	}
	.fa-thumb-tack:before{
	color: white;
	}
	h6{
		font-size: 15px;
		text-transform: capitalize;
		margin-right: 20px;
	}
	.modal-footer{
		margin-bottom: 20px;
	}
	h4{
		font-size: 15px;
		font-weight: bold;

	}
	.final-footer{
		
		padding-top: 10px;

	}
	h1 {
		font-size: 10px;
		a{
			background-color: #efcec5;
			border-radius: 30px;
			color: white;
			font-size: 32px;
			font-family: 'Montserrat', sans-serif;
			margin-right: 11px;
		}
		
	}
	h2{
		background-color: #efefef;
    	font-size: 18px;
    	width: 38%;
    	height: 32px;
    	margin-left: 54%;
   		border-radius: 5px;
    	text-align: center;
    	text-transform: capitalize;
	}
	.description{
		padding-bottom: 30px;
		padding-top: 1px;
		text-align: center;
	}
}
.modal .modal-content {
    padding: 44px; }

/*Medias Queries*/
@media (min-width: 960px) {
	#columns {
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	#columns {
		column-count: 5;
	}
}

#columns:hover .pin:not(:hover) {
	opacity: 0.4;
}