/*NAVBAR*/
nav .nav-wrapper{
    background-color: black !important;
    color: black;
}

body{
    font-family: 'Roboto', sans-serif;
    background: white;
    text-transform: uppercase;
}
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 90%;
    margin: 15px auto;
    
}
.element{
    width: 220px;
    background: white;
    float: left;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 10%;
    
}
.element{
    p{
    padding: 0px;
    font-size: 10px;
    color: black;
    margin-bottom: -45px;
    }
    
    .title {
        font-weight: bold;
        color: black;
        font-size: 10px;
    }

}
.element img{
    width: 100%;
    border-radius: 20px;}


    img, #photo1, #photo4, #photo7, #photo10, #photo1, #photo16, #photo19, #photo22, #photo25 
    {
    @include photos1();
}

#photo2,#photo5,#photo8,#photo11,#photo14,#photo17,#photo20,#photo23,#photo26 img{
    @include photos2();
}
#photo3,#photo6,#photo9,#photo12,#photo15,#photo18,#photo21,#photo24,#photo27 img{
    @include photos3();
}



/*PICTURES*/
